


#header-nav{
	background-color: grey;
	border-radius: 0px;
	border-color: black;
	border-style: 3px;
}

#collapsable-nav{
	margin-bottom: 0;

}




#nav-list{
	background-color: #A9A9A9;
	margin-bottom: 0;
	margin-top: 0;
}


#text{
	background-color: #A9A9A9;
}

.navbar-header .navbar-brand{
	color: black;
	font-weight: bold;

}


.navbar-header .navbar-brand a:link ,.navbar-header .navbar-brand a:visited, .navbar-header .navbar-brand a:hover, .navbar-header .navbar-brand a:active{
	text-decoration: none;
	color: black;
}


.navbar-header .navbar-toggle{
	color: black
}
